@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.lastname {
  background: linear-gradient(to right, #FF9C1A 0%, #ED250A 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-changer li {
  list-style-type: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EBF2FA;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 2px #0B0909);
}

.background-changer img {
  height: 20px;
  width: 20px;
}

.sidebar {
  background-color: white;
  border-radius: 20px;
  position: relative;
  padding-bottom: 20px;
  height: 100%;
}

.sidebar img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: -2px;
  bottom: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.sidebar-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
}

.sidebar-info p.name {
  color: #0B0909;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Raleway", serif;
  line-height: 2;
}

.sidebar .social-icons {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sidebar .icon {
  width: 40px;
  height: 40px;
  background-color: #F2F7FC;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar .contact-info {
  background-color: #F2F5F9;
  border-radius: 20px;
  margin: 0 25px;
  padding: 33px;
}

.sidebar .info {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 10px;
}

.linkedin-icon {
  color: #0077B5;
}

.sidebar .icon1,
.sidebar .icon2 {
  color:#FF9C1B;
}

.sidebar .icon3 {
  color: #E80505;
}

.sidebar .info .text {
  text-align: left;
}

.sidebar button {
  border: none;
  outline: none;
  background: linear-gradient(to right, #FF9C1A 0%, #E80505 100%);
  padding: 10px;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
}

.main {
  margin: 150px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.desktop-navbar {
  display: none;
}

.desktop-navbar ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background-color: #fefefe;
  padding: 10px;
  border-radius: 20px;
}

.desktop-navbar ul li {
  list-style-type: none;
}

.desktop-navbar li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 17px;
  background-color: #E1E8EF;
  border-radius: 20px;
  font-size: .75em;
  color: black;
}

.desktop-navbar a.active {
  background: linear-gradient(to top, #FF9C1A 0%, #E80505 100%);
  color: white
}

/* .desktop-navbar li a:visited {
  background-color: red;
} */

.aboutme {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  flex-grow: 1;
}

.aboutme h2 {
  font-family: "Poppins", serif;
  font-size: 2.5rem;
  font-weight: 400;
  position: relative;
  display: inline-block;
}

.aboutme p {
  line-height: 30px;
  margin-bottom: 1em;
}

/* .title .line {
  width: 252px;
  height: 1px;
  background: linear-gradient(to right, #FE9119 0%, #ED250A 100%);
  align-items: center;
  justify-content: center;
} */

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  flex-grow: 1;
}

.resume-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.resume-content .education,
.resume-content .experience {
  flex: 1;
}

.resume-content .education {
  position: relative;
}

.resume-content .education::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 60%;
  background: linear-gradient(to top, #FF9C1A 0%, #E80505 100%);
  top: 0;
  left: -8px;
  top: 55%;
  transform: translateY(-50%);
}

.resume-content .item {
  background-color: #FFE3BF;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.resume-content .title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5em;
}

.resume-content .title h3 {
  font-weight: 400;
  font-size: 1.68rem;
}

.project-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 1em;
}

.project-contents .project {
  background-color: #FFE3BF;
  padding: 10px;
  border-radius: 8px;
}

.project-contents img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.project p {
  font-size: .625em;
  font-style: italic;
}

.project h3 {
  font-size: 1rem;
  font-weight: 400;
}

.skills .contents {
  display: flex;
  flex-direction: column;
}

.skills h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: .2em;
  margin-top: 1em;
}

.buttons button {
  background-color: #E1E8EF;
  border: none;
  padding: 8px;
  color: black;
  border-radius: 8px;
  margin-right: 10px;
}

.contents .item {
  display: flex;
  gap: 2em;
  margin-bottom: 10px;
}

.contents .item p {
  font-weight: bold;
}

@media(min-width: 768px) {
  .main {
    flex-direction: row;
  }

  .desktop-navbar {
    display: flex;
    align-self: flex-end;
    position: absolute;
    top: -100px;
  }

  .aboutme {
    padding: 20px 80px;
  }

  .resume-content {
    flex-direction: row;
  }
}

@media(min-width: 1085px) {
  .aboutme h2::after {
    content: '';
    width: 200px;
    height: 2px;
    background: linear-gradient(to right, #FE9119 0%, #ED250A 100%);
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -220px;
  }

  .resume-content {
    justify-content: space-between;
  }
}

